<div>&nbsp;</div>
<table class=tableback width="99%" border=0 cellspacing=0 cellpadding=1 valign=center align=center><tr><td>
<table class=tablelite width="100%" border=0 cellspacing=0 cellpadding=3><tr>
<td class=footer>The Genealogy Web Server - Copyright 1998-{{year}} by <a href="mailto:{{email}}" title="Send me some email">Stephen Woodbridge</a>, All Rights Reserved.<br>
{{copyright}}
</td></tr></table></td></tr></table>
</body>
</html>
