<table align=center width="98%" border=0 cellpadding=2><tr><td>
<h2>HELP Information</h2>

<p>Use the links across the top of the page to select a function, for example:</p>

<p>The "Search" links will take you to a page that allows you to search for people, places or text in the notes.</p>

<p>The "Surname" links is used to get a list of all the unique surnames in the database. Select "Surname" (be patient it is a big list), then pick a surname from the list and you will see a list of people by that name, then select a person and you will be presented with that indiviual's family group record and their pedigree will be on the bottom of the page.</p>

<p>The "Descendants" links is disabled until you are viewing an individual's family group record.</p>

<p>The "Login" is for family members to access data that is otherwise blocked from public view with the phrase "Presumed
Living". "Presumed Living" means that the real data is being hidden to protect the privacy of people that might still be alive.</p>

<p>Navigation on the pages is very straight forward, click on a name and it will take you to that person. You can also click on the [NOTES] or [Source] links to see additional information about the individual. Some people have photos linked to their pages and you can click any of the photos to enlarge them.</p>

<p>Click <a href="/{{dbName}}/help">HERE</a> for advanced help on how to construct URLs to make remote links to this database.</p>

<h2>About The Genealogy Web Server</h2>

<p>The Genealogy Server is one of many projects I have built mixing my
professional skills and my hobbies.  It was orginally written in Perl
CGI scripts talking to an Oracle database using ODBC. It was re-written
to use a MySQL database and Perl and again into PHP and MySQL and later using PostgreSQL.
The current code is running under Node.js using Express, Express-HandleBars, and sqlite3.</p>

<p>The genealogy data is researched and entered into a genealogy application
that allows the data to be exported to a GEDCOM file. The GEDCOM is then
up-loaded into the database. The Genealogy Server
has recently been modified to support serving multiple GEDCOM databases.</p>

<p>Please feel free to contact me, <a href="mailto:stephenwoodbridge37 (at) gmail (dot) com">Stephen Woodbridge</a>, at stephenwoodbridge37 (at) gmail (dot) com.
</td></tr>
</table>
