<table align=center width="98%" border=0 cellpadding=2><tr><td>

<h2>URL HELP Information</h2>

<p>The following gives information on how to construct URLs that can be used to link to the Genealogy Web Server and on options that control how some data is displayed. The basic URL is constructed from this template:</p>

<ul>
<p>http://example.com/<b>DATABASE</b>/<b>COMMAND</b>/<b>CVALUE</b>[?<b>OPTION</b>=<b>OVALUE</b>[&amp;<b>OPTION</b>=<b>OVALUE</b>...]]</p>
</ul>
<p>where:</p>
<ul>
<p><b>DATABASE</b>:<br>The name of a genealogy database loaded on the server. To see what databases are loaded go to <a href="http://{{server}}/">http://{{server}}/</a>.</p>
<p><b>COMMAND</b>:</p>
<ul>
<p><b>about</b><br>Shows the about and general help page.</p>
<p><b>help</b><br>Shows this page.</p>
<p><b>surnames</b><br>Shows the surnames page.</p>
<p><b>search</b><br>Shows the search input form page.</p>
<p><b>birthdays</b> The following options my be added to this command.</p>
<ul>
<p><b>year</b>=[<b>all</b>|<b>living</b>|&lt;YYYY&gt;]<br>Shows people sorted by their birthday since <b>YYYY</b> or <b>all</b> or <b>living</b> people in the database.</p>
<p><b>byname</b>=1&nbsp;&nbsp;Sort the resulting list by Name instead of by dates.</p>
<p><b>day</b>=MM-DD&nbsp;&nbsp;Show only people that share this birthday.</p>
<p><b>csv=1</b> Download the list of birthdays as birthdays.csv file.</p>
</ul>
</p></p>
<p><b>feedback</b><br>Shows a form to send feedback to the database owner.</p>
<p><b>names</b>/&lt;SURNAME&gt;<br>Show a list of all people with the given &lt;SURNAME&gt;. The &lt;SURNAME&gt; may be '_' in which case a list of all people without a &lt;SURNAME&gt; will be generated. &lt;SURNAME&gt; is case insensitive.</p>
<p><b>indi</b>/&lt;INDI&gt;<br>Show the individual identified by the unique identifier &lt;INDI&gt;. These tend to be of the form "Innnn", where nnnn is a four digit number.</p>
<p><b>descendants</b>/&lt;INDI&gt;<br>Shows all of the descendants of the individual &lt;INDI&gt; The following options may be added to this command.</p>
<ul>
<p><b>indi</b>=1&nbsp;&nbsp;Add the &lt;INDI&gt; identifier to each person.</p>
<p><b>refn</b>=1&nbsp;&nbsp;Add the &lt;REFN&gt; identifier to each person.</p>
<p><b>dates</b>=1&nbsp;&nbsp;Add (birth - death) to each person.</p>
<p><b>max</b>=&lt;nn&gt;&nbsp;&nbsp;Limit the display to a maximum of <b>nn</b> generations below the person. The default is 20.</p>
</ul>
<p>If photos and photo management are enable you have the following <b>command</b>s. Ones that update the database or upload photos, require the user to be logged in with admin previleges.</p>
<p><b>media/summary</b> - list summary of photos loaded and photo albums</p>
<p><b>media/list/&lt;MODE&gt;/&lt;ID&gt;</b>
<ul>
<li>MODE=<b>indi</b> - display summary of photos linked to each person in the database
<li>MODE=<b>indi</b> and <b>ID</b>=&lt;INDI&gt; - display all photos linked to INDI you can these query parameters to change the output.
<ul>
<li><b>ncol=&lt;NUM&gt;</b> - number of columns of photos on the page (default: 5)
<li><b>large=1</b> - optionally display large images rather than thumbnails (try: <b>?ncols=2&amp;large=1</b>
</ul>
<li>MODE=<b>group</b> and <b>ID</b>=&lt:GROUP_ID&gt; - displays thumbnails for all photos in group=GROUP_ID
<li>MODE=<b>photos</b> and <b>ID</b>=[<b>all</b>|<b>unlinked</b>|&lt;ID&gt;]
<ul>
<li><b>all</b> - display thumbnails for all photos.
<li><b>unlinked</b> - display thumbnails for all photos not linked to people.
<li>ID - display the photo=ID in the edit form
</ul>
<li>MODE=<b>search?sstr=&lt;STRING&gt;</b> = search photo titles. descriptions, and linked names for STRING
</ul>
<p><b>media/view/&lt;ID&gt;</b> - display a page of photo=ID and people linked to it.</p>
<p><b>image/&ltMODE&gt;/&lt;FILE&gt;</b> - return the photo as an image.
<ul>
<li>MODE=[<b>orig</b>|<b>web</b>|<b>thumb</b>]
<li>FILE=ID.EXT - where ID is photo ID (zero padded to 4 digits) and EXT is the file extension typically <b>jpg</b> for <b>web</b> and <b>thumb</b>, but <b>orig</b> images are based on what was uploaded.
</ul>
<p><b>media/upload</b> - Upload a photo and update the database with it. (requires admin)</p>
<p><b>media/edit/&lt;ID&gt;</b> - Display photo=ID in the edit form. (requires admin to make changes)</p>
<p><b>media/link/&lt;ID&gt;?[add|del]=&lt;INDI&gt;</b> - add or remove INDI from photo=ID (requires admin).</p>
<p><b>media/delete/&lt;ID&gt;</b> - deletes a photo from the server and all associated links. (requires admin).</p>

</ul>

</ul>

<p>&nbsp;</p>
<p>Please feel free to contact me, <a href="stephenwoodbridge37 (at) gmail (dot) com">Stephen Woodbridge</a>, at stephenwoodbridge37 (at) gmail (dot) com.</p>

</td></tr>
</table>
