<table align=center width="98%" border=0 cellpadding=2>
<tr><td>
{{{content}}}

<h2>How to Use ...</h2>
<p>Check out the menu bar above ... Click the <a href="/{{dbName}}/surnames">
Surnames</a> and this will give you a list of ALL the last names in the database. Find your
last name and click it. You will then see a list of all the people in the database that
have that last name. Find a name and click it. You will now be looking at
the genealogy information about person. You will also see parents, spouses,
childern, and at the bottom, an ancestry tree. Click on any name and
you will be viewing the same information about the individual that you clicked on.
If you click "Descendants" when you are viewing an individual and you will see a list
of that persons descendants. The <a href="/{{dbName}}/search">Search</a>
function will allow you to search for stuff anywhere through the whole database.
You can contact me using the <a href="/{{dbName}}/feedback">Feedback</a> button to
send me a note. Please make sure you enter your email address so I can respond back to you.
</p>
</td></tr>
</table>
