
<form method="post" action="/{{dbName}}/login">
<input type="hidden" name="ref" value="{{ref}}">
<table align=center border="0" cellpadding="2">
<tr><td align="right">User:</td><td><input type="text" name="username"></td></tr>
<tr><td align="right">Password:</td><td><input type="password" name="password"></td></tr>
<tr><td align="center" colspan="2"><input type="submit" value="Login"></td></tr>
</table>
</form>

